:root {
  --fit-content: fit-content;
}

@supports (width: -moz-fit-content) {
  :root {
    --fit-content: -moz-fit-content;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  /*background: #000;*/
  min-width: 100%;
  width: var(--fit-content);
  min-height: 100vh;
  height: var(--fit-content);
  background-image: url(../imagenes/fondo.jpg);
}

body {
  padding: 2rem;
}

.formulario {
  width: 80vw;
  margin: auto;
}

.form-group {
  width: 90%;
  margin: auto;
}

input {
  margin-bottom: 1rem;
}

input.error, input.error:focus {
  background: #900;
  color: #fff;
}

.info {
  display: none;
  color: #f00;
}

.info.error {
  display: block;
}
